# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000
WORKER_PORT=4000
ENABLE_COMPRESSION=true
ENABLE_CORS=false
ENABLE_CSURF=false
ENABLE_HELMET=true
ENABLE_RATELIMIT=false
CORS_ORIGIN="https://programmer.news"
RATELIMIT_WINDOW=15
RATELIMIT_MAX=100
DATABASE_URL="postgresql://postgres@localhost:5432/programmer-news?schema=public"
REDIS_URL="redis://localhost:6379"